@charset "UTF-8";
@import "_defined";

#app {
    padding-bottom: 10vh;
}

#app > .wrapper {
    margin: 0px auto;
    @media screen and (min-width: 415px) {
        width: 70vw;
    }
}

#logo {
    margin: 0px auto;
    padding-top: 10vh;
    margin-bottom: 3vh;
    text-align: center;
    .adjuster {
        margin: 0px auto;
        background-color: #fff;
        border-radius: 100%;
        color: $sky;
        font-family: 'Fredoka One';
        border: solid 30px #fff;
        display: block;
        width: 60px;
        height: 60px;
        font-size: 60rem;
        line-height: 110%;
        box-shadow: 3pt 3pt 18pt rgba(0,0,0,.3);
    }
}

#page-title {
    font-family: 'Fredoka One';
    margin: 0px auto;
    margin-bottom: 5vh;
    color: #fff;
    font-size: 30rem;
    font-weight: normal;
    @media screen and (max-width: 414px) {
        width: 40vw;
    }
}

.form-group {
    .form-item {
        position: relative;

        &+.form-item {
            margin-top: 20px;
        }

        .form-label, .form-input {
            display: block;
            line-height: 180%;
        }

        .form-error-display {
            display: inline-block;
            background: rgba(255,255,255,.8);
            box-shadow: 0px 0px 30px rgba(80,80,80,0.4);
            box-sizing: border-box;
            font-size: 14rem;
            color: #f00;
            padding: 8pt;
            border-radius: 8pt;
            text-shadow: 0px 0px 3px #fff;
        }
    }

    .form-controlls {
        margin-top: 40px;
    }

    .foget-password {
        margin-top: 20px;
        a {
            font-size: 14rem;
            color: #fff;
            text-decoration: none;
        }
    }
}

.button {
    display: inline-block;
    font-size: 21rem;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #fff;
    vertical-align: middle;
    box-sizing: border-box;
    border-radius: 8pt;
    padding: 5pt 10pt;
    font-weight: 300;
    cursor: pointer;
}

.bord {
    margin: 5vh auto;
    background: rgba(255,255,255,.8);
    padding: 1vh;
    border-radius: 8pt;
    width: 30vw;
    min-width: 320px;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    box-shadow: 0px 0px 30px rgba(80,80,80,0.4);

    h2, h3 {
        padding: 6pt 12pt;
        text-align: left;
        color: $sky;
        font-weight: 600;
        font-size: 16rem;
    }

    p {
        box-sizing: border-box;
        font-weight: 400;
        padding: 6pt 12pt;
        margin: 9pt;
        margin-left: 20pt;
        text-align: left;
        color: lighten($sky, 10);
        font-size: 16rem;
        &+p {
            margin-top: 18pt;
        }
    }

    &#index-footer {
        .say-other {
            padding: 6pt 12pt;
            text-align: left;
            color: $sky;
            font-weight: 600;
        }

        .say-postime {
            box-sizing: border-box;
            font-weight: 400;
            padding: 6pt 12pt;
            margin: 9pt;
            margin-bottom: 18pt;
            margin-left: 20pt;
            text-align: left;
            color: lighten($sky, 10);
        }
    }
}