@charset "UTF-8";

// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

a, abbr, acronym, address, applet, area, article, aside, audio, b, base, basefont,
bdi, bdo, bgsound, big, blink, blockquote, body, br, button, canvas, caption, center,
cite, code, col, colgroup, command, content, data, datalist, dd, del, details, dfn,
dialog, dir, div, dl, dt, element, em, embed, fieldset, figcaption, figure, font,
footer, form, frame, frameset, head, header, hgroup, hr, html, i, iframe, image,
img, input, ins, isindex, kbd, keygen, label, legend, li, link, listing, main,
map, mark, marquee, menu, menuitem, meta, meter, multicol, nav, nextid, nobr, noembed,
noframes, noscript, object, ol, optgroup, option, output, p, param, picture, plaintext,
pre, progress, q, rp, rt, rtc, ruby, s, samp, script, section, select, shadow, slot, small,
source, spacer, span, strike, strong, style, sub, summary, sup, table, tbody, td, template,
textarea, tfoot, th, thead, time, title, tr, track, tt, u, ul, var, video, wbr, xmp, h1, h2, h3, h4, h5, h6{
    margin: 0px;
    padding: 0px;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: unset;
}

h1, h2, h3, h4, h5, h6{
    font-feature-settings: "palt";
}


@media only screen and (-webkit-min-device-pixel-ratio: 2),(min-resolution: 2dppx) {
    .hoge {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

$sky: #158eff;


html {
    font-size: 6.24%;
}

body {
    background: $sky;
    color: #fff;
    text-align: center;
    font-size: 21rem;
    font-family: Raleway;
    font-weight: 300;
}


input{
    display: inline-block;
    font-size: 21rem;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #fff;
    vertical-align: middle;
    box-sizing: border-box;
    border-radius: 8pt;
    
    &[type="text"], &[type="password"], &[type="button"], &[type="submit"] {
        padding: 5pt 10pt;
    }

    &[type="text"], &[type="password"], &[type="checkbox"], &[type="radio"] {
        box-shadow: 0px 0px 3pt rgba(0,0,0,.3);
        box-shadow: 1px 2px 2pt rgba(0,0,0,.2) inset;
    }
}
input[type=checkbox], input[type=radio] {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    display: inline-flex;
    flex-flow: row;
    justify-content: space-around;
}

input[type=checkbox]{
    border-radius: 5px;
    &:checked{
        &:after{
            content: "✔";
            display: inline-block;
            font-size: 18rem;
            text-align: center;
            width: 100%;
        }
    }
}

input[type=radio]{
    border-radius: 100%;
    &:checked{
        background-color: rgb(73, 200, 231);
        &:after{
            content: "";
            background: #000;
            display: inline-block;
            font-size: 12px;
            text-align: center;
            width: 50%;
            height: 50%;
            margin-top: 4px;
            border-radius: 100%;
        }
    }
}

select {
    opacity: 0;
    -webkit-appearance: none;
    appearance: none;
    display: inline-block;
    font-size: 16px;
    box-sizing: border-box;
    border: none;
    outline: none;
    vertical-align: middle;
    background: #fff;
    padding: 5px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
}

.select_apiarance_button{
    width: 60px;
    display: block;
    text-align: right;
    padding-right: 5px;
}

#app > .wrapper {
    margin: 0px auto;
    width: 70vw;
}

#logo {
    margin: 0px auto;
    margin-top: 10vh;
    margin-bottom: 3vh;
    text-align: center;
    .adjuster {
        margin: 0px auto;
        background-color: #fff;
        border-radius: 100%;
        color: $sky;
        border: solid 30px #fff;
        display: block;
        width: 60px;
        height: 60px;
        font-size: 60rem;
        line-height: 110%;
        box-shadow: 3pt 3pt 18pt rgba(0,0,0,.3);
    }
}

#login-form {
    .form-item {
        &+.form-item {
            margin-top: 20px;
        }

        .form-label, .form-input {
            display: block;
            line-height: 180%;
        }
    }

    .form-controlls {
        margin-top: 40px;
    }
}

.button {
    display: inline-block;
    font-size: 21rem;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #fff;
    vertical-align: middle;
    box-sizing: border-box;
    border-radius: 8pt;
    padding: 5pt 10pt;
    font-weight: 300;
}